{% extends 'myboard/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'myboard/room.css' %}">
{{ room_name|json_script:"room-name" }}
{{ my_token|json_script:"my-token" }}
{{board | json_script:"board" }}


<script>

  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const myToken = JSON.parse(document.getElementById('my-token').textContent);

  const labpcSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/myboard/'
    + roomName
    + '/?token='
    + myToken
  );

  labpcSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    document.querySelector('#status-log').value += ('[' + data.from + '] ' + JSON.stringify(data.message).toString().replace(/\\/g, '') + '\n');
    document.getElementById("status-log").scrollTop = document.getElementById("status-log").scrollHeight
    var message = JSON.parse(data.message);
    if (message.cmd === 'control') {
      if (message.arg === 'on') {
        console.log(message)
        document.getElementById("cbox0").checked = true
      } else if (message.arg === 'off') {
        document.getElementById("cbox0").checked = false
      } else if (message.arg === 'boot') {
        document.getElementById("cbox1").checked = false
      } else if (message.arg === 'unboot') {
        document.getElementById("cbox1").checked = true
      }
    }
  };

  labpcSocket.onclose = function (e) {
    alert('labpc socket closed unexpectedly');
  };



</script>
</div>

<div class="form-group">
  <textarea class="form-control" id="status-log" rows="5"></textarea>
 <input class="form-control" id="chat-message-input" type="text">
</div>
<!-- 
<div>
  <label class="switch">
    <input type="checkbox" id="cbox0">
    <div class="slider round">
      <span class="on" id="off-message-submit">ON</span>
      <span class="off" id="on-message-submit">OFF</span>
    </div>
  </label>
</div>
<div>
  <label class="switch">
    <input type="checkbox" id="cbox1">
    <div class="slider round">
      <span class="on" id="boot-message-submit">BOOT</span>
      <span class="off" id="unboot-message-submit">UNBOOT</span>
    </div>
  </label>
</div> -->
<p>{{ output }}</p>
<script>
  function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, false); // false for synchronous request
    xmlHttp.send(null);
    return xmlHttp.responseText;
  }
  var username = "{{user.username}}";
  var board = JSON.parse(document.getElementById('board').textContent);
  board_id = board[0]
  board_power = board[1]
  board_boot = board[2]
  if (board_power === 0) {
    document.getElementById("cbox0").checked = false
  } else {
    document.getElementById("cbox0").checked = true
  }
  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      labpcSocket.send(JSON.stringify({
        'message': message,
        'from': username,
        'to': 'all',
        'evt': 'noti'
      }));
      messageInputDom.value = '';
    }
  };
  document.querySelector('#on-message-submit').onclick = function (e) {
    console.log("click on");
    mess = JSON.stringify({
      'cmd': 'control',
      'arg': 'on',
      'board_id': board_id
    })
    labpcSocket.send(JSON.stringify({
      'message': mess.toString(),
      'from': username,
      'to': 'labpc',
      'evt': 'request'
    }));
    responseText = httpGet(`/myboard/api/control/boards/share/?board_id=${board_id}&control=on`);
    jsRespose = JSON.parse(responseText)
    if (!jsRespose.ok) {
      alert(jsRespose.error);
    }
    labpcSocket.send(JSON.stringify({
      'message': responseText,
      'from': 'labpc',
      'to': username,
      'evt': 'noti'
    }));
  };
  document.querySelector('#off-message-submit').onclick = function (e) {
    console.log("click offfffffffff ");
    mess = JSON.stringify({
      'cmd': 'control',
      'arg': 'off',
      'board_id': board_id
    })
    labpcSocket.send(JSON.stringify({
      'message': mess.toString(),
      'from': username,
      'to': 'labpc',
      'evt': 'request'
    }));
    responseText = httpGet(`/myboard/api/control/boards/share/?board_id=${board_id}&control=off`);
    jsRespose = JSON.parse(responseText)
    if (!jsRespose.ok) {
      alert(jsRespose.error);
    }
    labpcSocket.send(JSON.stringify({
      'message': responseText,
      'from': 'labpc',
      'to': username,
      'evt': 'noti'
    }));
  };

  // boot btn
  document.querySelector('#boot-message-submit').onclick = function (e) {
    mess = JSON.stringify({
      'cmd': 'control',
      'arg': 'boot',
      'board_id': board_id
    })
    labpcSocket.send(JSON.stringify({
      'message': mess.toString(),
      'from': username,
      'to': 'labpc',
      'evt': 'request'
    }));
    responseText = httpGet(`/myboard/api/control/boards/share/?board_id=${board_id}&control=boot`);
    jsRespose = JSON.parse(responseText)
    if (!jsRespose.ok) {
      alert(jsRespose.error);
    }
    labpcSocket.send(JSON.stringify({
      'message': responseText,
      'from': 'labpc',
      'to': username,
      'evt': 'noti'
    }));
  };
  document.querySelector('#unboot-message-submit').onclick = function (e) {
    mess = JSON.stringify({
      'cmd': 'control',
      'arg': 'unboot',
      'board_id': board_id
    })
    labpcSocket.send(JSON.stringify({
      'message': mess.toString(),
      'from': username,
      'to': 'labpc',
      'evt': 'request'
    }));
    responseText = httpGet(`/myboard/api/control/boards/share/?board_id=${board_id}&control=unboot`);
    jsRespose = JSON.parse(responseText)
    if (!jsRespose.ok) {
      alert(jsRespose.error);
    }
    labpcSocket.send(JSON.stringify({
      'message': responseText,
      'from': 'labpc',
      'to': username,
      'evt': 'noti'
    }));
  };
</script>
{% endblock %}